@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.hotelExpandedCard{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  border: solid 3px #F0B675;
  border-radius: 5px;
  padding: 5px;
}

.content{
  padding: 25px;
}

.hotelCardComponent{
  margin-bottom: 25px;
}


.header{
  font-size: 13pt;
}

h1{
  font-size: 30pt;
  color: #D98E5F;
}

h2{
  margin-bottom: 10px;
  font-size: 22pt;
  color: #D98E5F;
}

.evaluationDiv{
   color: #F0B775;
}

.facilitiesDiv{
  max-width: 400px;
  font-size: 20pt;
}

.facilitiesIcons{
  display: flex;
  justify-content: space-around;
  color: #F0B775;
}
